<h1>Yönetim Paneli</h1>

<table class="table table-striped table-primary">
    <tr>
        <td>
            <a asp-area="YonetimPaneli" asp-controller="Kitap" asp-action="Index">Kitaplar</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="YonetimPaneli" asp-controller="Kullanici" asp-action="Index">Kullanıcılar</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="YonetimPaneli" asp-controller="Rapor" asp-action="Index">Raporlar</a>
        </td>
    </tr>
</table>