@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/YonetimPanel/Views/Shared/_adminLayout.cshtml";
}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">AnaSayfa</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addKitapEkleModal">Kitap Ekle</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Kitap Adı</th>
                            <th>Fiyat</th>
                            <th>Aciklama</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Kitap Adı</th>
                            <th>Fiyat</th>
                            <th>Aciklama</th>
                        </tr>
                    </tfoot>
                    <tbody>
                       
                            <tr>
                                <td>KitapAdi</td>
                                <td>Fiyat</td>
                                <td>Aciklama</td>
                            </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
